<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ZAI 3 - Artur Sulej</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="style.css"/>
    <script src="bower_components/angular/angular.min.js" type="text/javascript"></script>
    <script src="app.js" type="text/javascript"></script>
    <script src="maincontroller.js" type="text/javascript"></script>
</head>
<body>
<div id='content' ng-app='ZAIApp' ng-controller='MainController'>
    <div class="form-group">
        <label>Search by name: <input ng-model="search.name" class="form-control"></label>
        <label>Exact? <input type="checkbox" ng-model="strict"></label><br>
        <label>Min. price: <input ng-model="minPrice" class="form-control"></label><br>
        <label>Max. price: <input ng-model="maxPrice" class="form-control"></label><br>
        <label class="order-label">Order by: <select class="order-select form-control" ng-model='currentOrder'
                                                     ng-options='obj for obj in orderSelect'></select></label>
        <label>Reverse? <input type="checkbox" ng-model="reverse"></label>
    </div>
    <div class="form-group item-form">
        <label>Create form</label>
        <input placeholder="Name" type='text' ng-model='newItemName' class="form-control"/>
        <input placeholder="Price" type='number' ng-model='newItemPrice' class="form-control"/>
        <input placeholder="Carbohydrates" type='number' ng-model='newItemCarbs' class="form-control"/>
        <input placeholder="Vitamins (comma separated)" type='text' ng-model='newItemVitamins' class="form-control"/>
        <input placeholder="Image url" type='text' ng-model='newItemImage' class="form-control"/>
        <button class="btn btn-default" ng-click='addNew()'>Add</button>
    </div>
    <div class="form-group item-form" ng-hide="!currentEditItem">
        <label>Edit form</label>
        <input placeholder="Name" type='text' ng-model='currentEditItem.name' class="form-control"/>
        <input placeholder="Price" type='number' ng-model='currentEditItem.price' class="form-control"/>
        <input placeholder="Carbohydrates" type='number' ng-model='currentEditItem.carbs' class="form-control"/>
        <input placeholder="Image url" type='text' ng-model='currentEditItem.image' class="form-control"/>
        <button class="btn btn-default" ng-click='endEditing()'>Ok</button>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Carbohydrates</th>
            <th>Image</th>
            <th>Vitamins</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
        </thead>
        <tbody>
        <tr item bind="item"
            ng-repeat="item in items | orderBy:currentOrder:reverse | filter:search:strict | filter:filterByPrice || orderBy:orderBy">
        </tr>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
