<tr>
    <td>{{item.name}}</td>
    <td>{{item.price}}</td>
    <td>{{item.carbs}}</td>
    <td><img class="photo" ng-src={{item.image}}></td>
    <td>{{item.vitamins.join(', ')}}</td>
    <td>
        <button class="btn btn-default" ng-click='remove(item.id)'>Delete</button>
    </td>
    <td>
        <button class="btn btn-default" ng-click='edit(item.id)'>Edit</button>
    </td>
</tr>
